@using Basyc.MessageBus.Manager.Application.Durations
<durationBoxContainer>

    @{
        string durationBoxStyle = "";
        var minHeight = GetDurationAsRem(DurationSegment.Duration);
        if (minHeight < 1)
        {
            minHeight = 1;
        }
        if(minHeight > 25)
        {
            minHeight = 25;
        }
        durationBoxStyle = $"min-height: {minHeight}rem;";

        DurationSegment previousSegment = null;
        //-0.5 to compensate margings and line heights.
        //if line height is 1rem and margings and paddings are 0 this is not needed
        int segmentNameNumberOfLines = (int)Math.Floor(minHeight-0.5); 
        string segmentNameStyle = $"-webkit-line-clamp: {segmentNameNumberOfLines}; line-clamp: {segmentNameNumberOfLines};";
    }

    <durationBox Style="@durationBoxStyle">
        @if (DurationSegment.Duration.TotalMilliseconds > 50)
        {
            <durationBoxDuration>
                @(DurationSegment.Duration.TotalMilliseconds)ms
            </durationBoxDuration>

        }
        <div class="tooltiptext">
            <toolTipDurationName >
                @DurationSegment.Name
            </toolTipDurationName>
            <toolTipDurationDuration>
                lasted: @(DurationSegment.Duration.TotalMilliseconds) ms
            </toolTipDurationDuration>
        </div>
    </durationBox>
    <nestedContent>
        <segmentNameContainer>
            <segmentName>
                @DurationSegment.Name
            </segmentName>
            </segmentNameContainer>

        @foreach (var nestedSegment in DurationSegment.NestedSegments)
        {
            string borderMergerStyle = "";
            if (previousSegment is not null && previousSegment.EndTime != nestedSegment.StartTime)
            {
                <unknownDurationContainer style="height: @(GetDurationAsRem(nestedSegment.StartTime - previousSegment.EndTime))rem;">
                    <unknownDurationLine />
                    <div class="tooltiptext">
                        Unknown duration
                        <br />
                        lasted: @((nestedSegment.StartTime - previousSegment.EndTime).TotalMilliseconds) ms
                    </div>
                </unknownDurationContainer>

            }
            else
            {
                borderMergerStyle = "display:block; margin-top: -2px;";
            }

            <borderMerger style="@borderMergerStyle">
                <DurationBoxView DurationSegment="nestedSegment" />
            </borderMerger>
            previousSegment = nestedSegment;
        }
    </nestedContent>
</durationBoxContainer>


@code {
    [Parameter] public DurationSegment DurationSegment { get; set; }
    public double GetDurationAsRem(TimeSpan duration)
    {
        return Math.Round(duration.TotalMilliseconds / 20);
    }
}
