@using Basyc.MessageBus.Manager.Application
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Pages.Requests.RequestTag

@{
    string requestDetailViewClass = "";
    if (RequestResult is not null)
    {
        requestDetailViewClass = $"requestDetailViewClass--state--{RequestResult.State.ToString()}";
    }
}

<requestDetailView class="@requestDetailViewClass">
    @if (RequestResult is null)
    {
        <ghostLabel>
            Select result to see details.
        </ghostLabel>
    }
    else
    {
        <requestDetailNotEmpty>
            <heading>
                <requestName>
                    @RequestResult.Request.RequestInfo.RequestDisplayName
                </requestName>
                <RequestTagView RequestType="@RequestTagTypeHelper.FromRequestType(RequestResult.Request.RequestInfo.RequestType)" TagStyle="TagStyle.Icon" />
                <id>
                    #@RequestResult.Id
                </id>
            </heading>

            <br />

            <label>
                Input
            </label>
            <inputs>
                @foreach (var parameter in RequestResult.Request.Parameters)
                {
                    <parameterRow>
                        <parameterName>
                            @parameter.ParameterInfo.ParameterDisplayName:
                        </parameterName>
                        <parameterValue>
                            @(parameter.Value == null ? "null" : parameter.Value)
                        </parameterValue>
                    </parameterRow>
                }
            </inputs>

            <br />

            <label>
                Output
            </label>
            <outputs>
                @if (RequestResult.State == RequestResultState.Completed)
                {
                    @if (RequestResult.Request.RequestInfo.HasResponse)
                    {
                        @RequestResult.Response
                    }
                    else
                    {
                        <ghostLabel>
                            Result does not have an output
                        </ghostLabel>
                    }
                }
                @if (RequestResult.State == RequestResultState.Failed)
                {
                    @RequestResult.ErrorMessage
                }
            </outputs>
        </requestDetailNotEmpty>

    }

</requestDetailView>

@code {
    [Parameter] public RequestResult RequestResult { get; set; }

}
